{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/article.css">
{% endblock %}
{% block main %}
    <div id="article-content-wrapper">
        <article id="article-content" class="panel-shadow">
            <h1 class="article-title">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
            </h1>
            <div class="article-auth-create-time">
                <strong>{{ article.author }}</strong><span>发布于{{ article.human_read_date }}</span>
            </div>
            <div class="article-cate-tags">
                分类：<a class="category-link" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                {% if article.tags %}
                    标签：
                    {% for tag in article.tags %}
                        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            {{ article.content_with_anchors }}
        </article>
        <div id="article-catelog" class="panel-shadow">
            <div id="catelog">
                <h4>▶ 文章目录：</h4>
                {% for anchor in article.anchors %}
                    {{ anchor }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}