{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygment.css">
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/article.css">
{% endblock %}
{% block main %}
    <article id="article-content">
        <h1 class="article-title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </h1>
        <div id="article-content-info">
            <span class="hint-text">发布于{{ article.human_read_date }}</span>
            <span class="ml-20">
                分类：<a class="mr-20 tag-item" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                {% if article.tags %}
                    标签：
                    {% for tag in article.tags %}
                    <a class="tag-item" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> 
                    {% endfor %}
                {% endif %}
            </span>
        </div>
        <div id="article-render-content">
            {{ article.content_with_anchors }}
        </div>
        <div id="article-footer">

        </div>
    </article>
    <aside id="article-aside">
        <div id="article-catelog">
            <h4>▶ 文章目录：</h4>
            {% for anchor in article.anchors %}
                <div>
                    {{ anchor }}
                </div>
            {% endfor %}
        </div>
    </aside>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/article.js"></script>
{% endblock %}