<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link rel="stylesheet" href="https://yarnpkg.com/en/package/normalize.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1964191_zw4zyfctbx.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            {% for cat, null in categories %}
                <a {% if cat == category %} class="active-category"{% endif %} href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
            {% endfor %}
        </nav>
    </header>
    <main>
        <div class="main-wrapper">
            {% block main %}{% endblock %}
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>