<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1964191_xmtwd70f71.css">
    <link rel="stylesheet" href="https://yarnpkg.com/en/package/normalize.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/util.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <header id="anchor-header">
        <nav>
            <ul class="main-width-content">
                <li {% if page_name == 'index' %} class="active"{% endif %}>
                    <a  href="{{ SITEURL }}/">全部</a>
                </li>
                {% for cat, null in categories %}
                    <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <main class="main-width-content">
        {% block main %}{% endblock %}
    </main>
    <footer>
        <div id="footer-content-wrapper" class="main-width-content">
            <div id="footer-site-links">
                <a href="">关于我</a> · 
                <a href="">联系方式</a> · 
                <a href="">商务合作</a>
                <span class="ml-20">友链：</span>
                <a href="">阮一峰的网站</a> · 
                <a href="">张鑫旭</a> · 
                <a href="">前端之巅</a>
            </div>
            <div class="mt-15">
                Copyright©2018-2020 Guo Liangcai 
                <a href=""><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/site-record.png" alt=""></a> 
                粤ICP备11018329号
            </div>
        </div>
    </footer>
</body>
</html>