<footer class="center-content">
    <div class="footer-content-wrapper">
        <div class="site-links">
            <a href="">关于我</a> · 
            <a href="">联系方式</a> · 
            <a href="">商务合作</a>
            <span>友链：</span>
            <a href="">阮一峰的网站</a> · 
            <a href="">张鑫旭</a> · 
            <a href="">前端之巅</a>
        </div>
        <div class="site-record-info">
            Copyright©2018-2020 Guo Liangcai 
            <a href=""><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/site-record.png" alt=""></a> 
            粤ICP备11018329号
        </div>
        <div class="other-info">
            本站所有原创内容不允许私自转载，如有需要请和我联系^_^
        </div>
    </div>
</footer>