#article-content-wrapper {
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    position: relative;
}

#article-reader-operations {
    position: absolute;
    transform: translateX(-60px);
    top: 1rem;
}

#article-reader-operations a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-top: 1rem;
    color: #ddd;
    background-color: #ffffff;
    transition: .1s;
}

#article-reader-operations a:first-child {
    margin-top: 0;
}

#article-reader-operations a:hover {
    color: #fff;
    background-color: #007bff;
    box-shadow: 0 0 0 3px #93c7ff;
}

#article-reader-operations a i {
    font-size: 1.3rem;
}

#article-content-wrapper .article-content-info {
    margin-top: 1.5rem;
}

#article-content-wrapper .article-content-info .article-cate-tag {
    margin-bottom: 1rem;
}

#article-content-wrapper .public-time {
    margin-right: 1rem;
}

#article-content-wrapper article {
    flex: 1;
    overflow: hidden;
}

article .article-title {
    font-size: 1.8rem;
}

article .article-title a {
    color: #333;
}

article .article-info-wrapper {
    padding: 0 1.8rem;
}

#article-render-content {
    line-height: 1.8;
    margin-top: 2rem;
    padding: 0 1.8rem;
}

#article-render-content img {
    max-width: 100%;
}

#article-render-content h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: .5rem;
}

#article-render-content h2,
#article-render-content h3,
#article-render-content h4 {
    position: relative;
    margin: 1.6em 0 .6em 0;
}

#article-render-content p {
    margin: 1.2em 0;
}

#article-render-content .article-anchor {
    position: absolute;
    top: 0;
    left: 0;
}

#article-render-content blockquote {
    background-color: #f8f8f8;
    padding: .8rem 1.5rem;
    border-left: 3px solid #3385dd;
    border-radius: 0 .2rem .2rem 0;
}

#article-render-content blockquote p {
    margin: 0;
}

#article-render-content hr {
    height: .1rem;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
}

#article-render-content table:not(.highlighttable) {
    border-spacing: 0;
    border-collapse: collapse;
}

#article-render-content table:not(.highlighttable) thead th {
    font-weight: bold;
}

#article-render-content table:not(.highlighttable) thead th,
#article-render-content table:not(.highlighttable) td {
    border: 1px solid #dfe2e5;
    padding: 10px 15px;
}

#article-render-content table:not(.highlighttable) tbody tr:nth-child(2n) td {
    background-color: rgba(0, 0, 0, .02);
}

#article-render-content code {
    background-color: #f0f0f0;
    padding: .2rem .4rem;
    border-radius: .2rem;
    color: #f92672;
    margin: 0 .3rem;
}

#article-content-footer {
    padding: 1rem 1.8rem;
    margin-top: 2rem;
    border-radius: .2rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
}

#article-content-footer .neighbor-article {
    flex: 0 0 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#article-content-footer .neighbor-article:last-of-type {
    text-align: right;
}

/* 这里取20rem，catelog应该也设置这个固定值，在滚动固定时就不会变 */
#article-content-wrapper aside {
    flex: 0 0 20rem;
    margin-left: 2rem;
}

#article-catelog {
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    top: 2rem;
    width: 20rem;
    max-height: 600px;
    max-height: 90vh;
    overflow: auto;
}

#article-catelog a {
    font-size: .8rem;
    color: #333;
}

#article-catelog h4 {
    margin: 0 0 1rem 0;
}

#article-catelog ul {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

#article-catelog ul:before {
    content: '';
    position: absolute;
    width: 0;
    border-left: 1px dashed #f8f8f8;
    left: 0;
    top: .6rem;
    bottom: .8rem;
    z-index: 0;
}

#article-catelog li {
    margin-bottom: .3rem;
    position: relative;
    padding-left: .8rem;
}

#article-catelog li:after {
    content: '•';
    position: absolute;
    left: 0;
    transform: translate(-50%, 50%);
    top: 50%;
    line-height: 0;
}

#article-catelog li:not(.heading-level-1):before {
    content: '';
    height: 0;
    width: 1rem;
    border-bottom: 1px dashed #f8f8f8;
    position: absolute;
    top: 50%;
    left: -1rem;
}

#article-catelog .heading-level-1 a {
    font-weight: bold;
}

#article-catelog .heading-level-1::after {
    font-size: 1.5rem;
}

#article-catelog .heading-level-2 {
    margin-left: 1rem;
}

#article-catelog .heading-level-3 {
    margin-left: 2rem;
}

#article-catelog li.heading-level-3:before {
    width: 2rem;
    left: -2rem;
}

#article-catelog .current-heading a {
    color: #007bff;
    text-decoration: underline;
}

#back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    text-align: center;
    line-height: 3rem;
    color: #007bff;
    font-weight: bold;
    background-color: #fff;
    visibility: hidden;
}

#back-to-top:hover {
    transform: rotate(-45deg);
    transition: 1s;
}

#back-to-top:hover span {
    display: inline-block;
    animation-delay: 1s;
    animation: rock-it 3s ease-in;
}

@keyframes rock-it {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translate(14px, -14px);
    }
}