/* tag init */
html {
    background-color: #333;
}

body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.5;
    background-color: #fff;
    font-family: -apple-system, "Helvetica Neue", Helvetica, PingFang SC, Arial, Noto Sans, Roboto,
                Microsoft Yahei, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

input {
    padding: .4rem .6rem;
    border: 1px solid #ccc;
    border-radius: .2rem;
    outline: none;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, .2);
}

/* base.html */
header {
    display: flex;
    align-items: center;
    height: 60px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .08);
    padding: 0 1.5rem;
}

header .site-name {
    padding-right: 1rem;
    border-right: 1px solid #ccc;
}

header .site-name span {
    padding: .4rem .5rem;
    border-radius: .2rem;
    background-color: #007bff;
    color: #fff;
    margin-right: .5rem;
}

header nav {
    padding-left: 1.5rem;
    font-size: 1.02rem;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav li {
    display: inline-block;
    padding: .5rem .8rem;
    list-style: none;
}

header a {
    color: #333;
}

header a:hover {
    color: #007bff;
}

header .active-category a {
    font-weight: 600;
    color: #007bff;
}

header .post-search-input {
    margin-left: auto;
}

main {
    padding: 2rem 0;
}

footer {
    color: #999;
    background-color: #333;
}

#footer-site-links a {
    color: #ccc;
}

#footer-site-links a:hover {
    color: #fff;
}

#footer-wrapper {
    padding: 1.5rem 0;
}

#site-other-info {
    margin: .5rem 0;
}

footer .friend-links {
    margin-left: 2rem;
}

#site-record {
    font-size: .8rem;
}

footer .github {
    font-size: 2rem;
    vertical-align: middle;
}

/* common class */
.primary-title {
    font-size: 1.5rem;
}

.secondary-title {
    font-size: 1.2rem;
}

.paragraph-text {
    font-size: 1.14285rem;
}

.mt-15 {
    margin-top: 15px;
}

.hint-text {
    color: #999;
}

.tag-item {
    padding: .15rem .4rem;
    border: 2px solid #278cf7;
    color: #007bff !important;
    border-radius: .2rem;
    margin-right: .5rem;
}

.page-center-content {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}