#article-page-wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 2rem 0;
}

#article-list {
    flex: 0 0 65%;
}

#article-list a {
    color: #333;
}

#article-list section {
    margin-bottom: 3rem;
}

#article-list section.first-article {
    padding: 1.8rem;
    background-color: #f6f6f6;
    border-radius: .2rem;
    position: relative;
}

#article-list section.first-article:after {
    position: absolute;
    content: '最新';
    right: .8rem;
    top: .5rem;
    color: #999;
}

#article-list section h2 {
    margin: 0 0 20px 0;
}

#article-list section .article-summary {
    line-height: 1.8;
}

#article-list section .tag-item {
    padding: .15rem .4rem;
    /* border: 2px solid #278cf7; */
    background-color: #f1f8ff;
    color: #007bff;
    border-radius: .2rem;
    margin-right: .5rem;
}

#article-list .public-time,
#article-list .category-link {
    margin-right: 1.5rem;
}

#article-list #article-vote {
    margin-left: 1rem;
    color: #007bff;
    cursor: pointer;
}