#article-page-wrapper {
    display: flex;
}

#article-list {
    flex: 0 0 65%;
}

#article-list a {
    color: #333;
}

#article-list section {
    margin-bottom: 3rem;
}

#article-list section:last-of-type {
    margin-bottom: 0;
}

#article-list section.first-article {
    padding: 1.8rem;
    background-color: #f6f6f6;
    border-radius: .2rem;
    position: relative;
}

#article-list section.first-article:after {
    position: absolute;
    content: '最新';
    right: .8rem;
    top: .5rem;
    color: #999;
}

#article-list section h2 {
    margin: 0 0 20px 0;
}

#article-list section .article-summary {
    line-height: 1.8;
}

#article-list .public-time,
#article-list .category-link {
    margin-right: 1.5rem;
}

#article-list #article-vote {
    margin-left: 1rem;
    color: #007bff;
    cursor: pointer;
}

#article-side {
    flex: 1;
    margin-left: 2rem;
}

#article-side section {
    border-radius: .2rem;
    padding: 1rem 1.5rem;
    background-color: #f6f6f6;
    box-sizing: border-box;
}

#article-side .article-tags {
    border: 1px solid #007bff;
}

#article-side section h4 {
    margin-top: 0;
}

#article-side section .tag {
    margin-right: .8rem;
    line-height: 1.8;
}

#article-side .top-articles {
    margin-top: 2rem;
    border: none;
}

#article-side .top-articles a {
    color: #333;
    display: block;
    margin-top: .8rem;
}

#article-paginator {
    margin-top: 2rem;
}

#paginator-input {
    width: 40px;
}

#article-paginator .article-paginator-jumper {
    background-color: #007bff;
    color: #fff;
    border-radius: .2rem;
    padding: .3rem .5rem;
    vertical-align: middle;
}