#index-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#article-list {
    flex: 0 0 740px;
}

#index-content-right {
    margin-left: 50px;
    flex: 1;
}

#hot-article-list {
    padding: 0 30px 20px;
    border: 1px solid #333;
}

#article-list section {
    margin-bottom: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    /* border-bottom: 1px dashed #333; */
    /* border: 1px solid #333; */
    /* box-shadow: 2px 2px 0 2px #444; */
    /* background-color: #fcfcfc; */
}

#article-list section .article-summary {
    height: 48px;
    line-height: 24px;
    font-size: 15px;
    overflow: hidden;
}

#article-list section .article-info {
    color: #666;
}

#article-list section .category-link {
    margin-right: 30px;
}

#article-list section .article-info a {
    cursor: pointer;
}

#article-paginator .paginator-input {
    width: 30px;
    height: 26px;
    line-height: 26px;
    padding: 0 8px;
    vertical-align: middle;
}

#article-paginator .article-paginator-jumper {
    vertical-align: middle;
    border: 1px solid #333;
    padding: 0 5px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    background-color: #f8f8f8;
    cursor: pointer;
}