main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#article-list {
    flex: 0 0 760px;
}

#index-content-right {
    flex: 0 0 300px;
    overflow: hidden;
}

#index-content-right section {
    padding: 0 30px 20px;
    border: 1px solid #333;
    overflow: hidden;
}

#index-content-right section div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

#article-list section {
    margin-bottom: 30px;
    padding-bottom: 20px;
}

#article-list section:last-of-type {
    margin-bottom: 0;
}

#article-list section.first-article {
    border: 1px solid #333;
    padding: 0 20px 30px;
    position: relative;
    margin-bottom: 40px;
}

#article-list section.first-article::after {
    position: absolute;
    content: '最新';
    display: block;
    width: 40px;
    height: 40px;
    left: 0;
    color: #fff;
    top: -1px;
    left: -41px;
    line-height: 40px;
    text-align: center;
    background-color: #c44444;
}

#article-list section .article-summary {
    height: 48px;
    line-height: 24px;
    font-size: 15px;
    overflow: hidden;
}

#article-list section .article-info {
    color: #666;
}

#article-list section .category-link {
    margin-right: 30px;
}

#article-list section .article-info a {
    cursor: pointer;
}

#paginator-input {
    width: 30px;
    height: 26px;
    line-height: 26px;
    padding: 0 8px;
    vertical-align: middle;
}

#article-paginator .article-paginator-jumper {
    vertical-align: middle;
    border: 1px solid #333;
    padding: 0 5px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    background-color: #f8f8f8;
    cursor: pointer;
}