html, body {
    background-color: #f0f2f3;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
                'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
                'Noto Color Emoji';
}

header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header .nav-wrapper {
    width: 866px;
    margin: 0 auto;
}

header nav {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}

header nav a {
    display: inline-block;
    padding: 0 20px;
    color: #333;
    position: relative;
}

header nav a.current-category {
    color: #07c160;
}

header nav a.current-category::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #07c160;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

header .my-profile {
    padding: 20px 0;
    clear: both;
    overflow: hidden;
}

header .my-profile .my-avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: .1s ease-in;
    cursor: pointer;
    position: relative;
}

header .my-profile .my-avatar:hover {
    border-color: #eee;
    padding: 5px;
}

header .my-profile .my-info {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;
}

header .my-profile .my-slogan {
    color: #777;
    margin-top: 5px;
}

header .my-profile .my-social-media {
    float: right;
    margin-top: 20px;
}

footer {
}

/* header .my-profile .my-social-media .iconfont {
    font-size: 32px;
    cursor: pointer;
}

.iconfont.weixin {
    color: #3DAE38;
}

.iconfont.github {
    color: #000000;
} */

main {
    padding-top: 150px;
    width: 866px;
    margin: 0 auto;
}

footer {
    width: 866px;
    margin: 0 auto;
    padding: 30px 0 20px 0;
    margin-top: 50px;
    border-top: 1px solid #ccc;
}

footer .record-info .record-num {
    /* margin-left: 10px; */
    margin: 15px 0;
}

footer .record-info .qrcode {
    height: 200px;
}

a {
    color: #07c160;
    text-decoration: none;
}

input {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 8px 10px;
}

input:focus {
    border-color: #07c160;
    box-shadow: 0 0 0 2px #e1f7eb;
}

input.mini {
    padding: 5px 8px;
}

/* COMMON */
.hint-text {
    color: #999;
}

.ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* PAGE INDEX */
article.top-article {
    padding: 18px 25px;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .05);
}

.article-panel-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin: 0;
}

.article-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.article-title-wrapper .article-title {
    flex: 0 0 666px;
}

article .article-title a {
    color: #333;
}

article .auth-create-time strong {
    margin-right: 10px;
    color: #444;
}

article .auth-create-time span {
    color: #999;
}

article .article-summary {
    overflow: hidden;
    height: 52px;
    font-size: 14px;
    line-height: 26px;
    cursor: pointer;
    color: #444;
    display: block;
}

article.top-article .article-summary {
    height: 104px;
    font-size: 15px;
    line-height: 26px;
}

.top-article .article-info-tags {
    margin-bottom: 15px;
}

.recent-article {
    padding: 18px 25px;
    background-color: #fff;
    margin: 20px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .05);
}

.recent-article article {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.recent-article article:last-of-type {
    border-bottom: none;
}

.recent-article article h3 {
    margin-bottom: 0;
}

.recent-article article .auth-create-time {
    margin: 10px 0;
}

.goto-article {
    padding-left: 10px;
    color: #07c160;
}

.goto-article .iconfont {
    font-size: .8em;
}

.article-operation {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.recent-article .article-operation {
    font-size: .92em;
}

.article-operation .article-view {
    margin-right: 15px;
    padding-right: 15px;
    position: relative;
}

.article-operation .article-view::after {
    content: '';
    position: absolute;
    height: 60%;
    top: 20%;
    width: 1px;
    background-color: #eee;
    right: 0;
}

article .article-operation .operation-upvote {
    background: rgba(7, 193, 96, .1);
    border-radius: 4px;
    padding: 3px 15px;
    color: #0da855;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.article-operation .operation-upvote .iconfont {
    font-size: 1.4em;
    margin-left: 5px;
}

.article-operation .operation-upvote .heart {
    color: #f2213d;
}

.article-operation .operation-upvote .like {
    opacity: .5;
}

.article-operation .other-operation {
    color: #666;
    cursor: pointer;
    padding: 0 10px;
}

.article-operation .other-operation:hover {
    color: #07c160;
}

.article-operation .article-info-tags {
    margin-right: auto;
}

.article-paginator {
    /* text-align: center; */
    margin-top: 20px;
}

.article-paginator .paginator-input {
    width: 40px;
    margin-left: 10px;
}

.article-paginator .article-paginator-jumper {
    height: 28px;
    padding: 0 8px;
    line-height: 28px;
    vertical-align: top;
    display: inline-block;
    background: rgba(7, 193, 96, .1);
    border-radius: 2px;
}