@import url("pygment.css");

html, body {
    background-color: #f0f2f3;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
                'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
                'Noto Color Emoji';
}

header {
    width: 100%;
    background-color: #fff;
}

header nav {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid #f0f2f3;
    box-sizing: border-box;
}

header nav a {
    display: inline-block;
    padding: 0 20px;
    color: #333;
    position: relative;
}

header nav a.current-category {
    color: #08b258;
}

header nav a.current-category::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #08b258;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

header .my-profile {
    padding: 20px 0;
    display: flex;
    align-items: center;
}

header .my-profile .my-avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: .1s ease-in;
    cursor: pointer;
    position: relative;
}

header .my-profile .my-avatar:hover {
    border-color: #eee;
    padding: 5px;
}

header .my-profile .my-info {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;
}

header .my-profile .my-slogan {
    color: #777;
    margin-top: 5px;
}

header .my-profile .my-profile-right {
    margin-left: auto;
}

main.center-content {
    margin: 20px auto;
    overflow: hidden;
}

footer {
    padding-bottom: 10px;
    font-size: 13px;
    color: #888;
}

footer a {
    color: #888;
}

footer a:hover {
    color: #08b258;
}

footer .footer-content-wrapper {
    background-color: #fff;
    width: 960px;
    box-sizing: border-box;
    padding: 20px;
}

footer .site-links span {
    margin-left: 20px;
}

footer .site-record-info {
    margin: 2px 0;
}

footer .site-record-info img {
    vertical-align: middle;
    margin: 0 3px;
}

footer .site-record-info,
footer .other-info {
    color: #adadad;
    font-size: 12px;
}

a {
    color: #08b258;
    text-decoration: none;
}

input {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 8px 10px;
}

input:focus {
    border-color: #08b258;
    box-shadow: 0 0 0 2px #e1f7eb;
}

input.mini {
    padding: 5px 8px;
}

/* COMMON */
.center-content {
    width: 960px;
    margin: 0 auto;
}

.hint-text {
    color: #999;
}

.ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mt30 {
    margin-top: 30px;
}


.mt20 {
    margin-top: 20px;
}

.ml50 {
    margin-left: 50px;
}

.mr25 {
    margin-right: 25px;
}

.panel-shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}