{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/dracula.css">
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/article.css">
{% endblock %}
{% block main %}
    <div id="article-content-wrapper" class="page-center-content">
        <div id="article-reader-operations">
            <a href="" title="赞一个"><i class="iconfont like"></i></a>
            <!-- <a href="" title="分享到微信"><i class="iconfont weixin"></i></a> -->
            <a href="javascript:none" onclick="window.history.back()" title="返回"><i class="iconfont back"></i></a>
        </div>
        <article  class="panel">
            <div class="article-info-wrapper">
                <h1 class="article-title">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                </h1>
                <div class="article-content-info">
                    
                    <div class="article-cate-tag">
                        分类：<a class="tag-item" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                        {% if article.tags %}
                            标签：
                            {% for tag in article.tags %}
                            <a class="tag-item" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> 
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div>
                        <span class="hint-text public-time">发布于{{ article.human_read_date }}</span>
                        <span class="hint-text">
                            98,238次阅读
                        </span>
                    </div>
                </div>
            </div>
            <div id="article-render-content">
                {{ article.content_with_anchors }}
            </div>
            <div id="article-content-footer">
                <div class="neighbor-article">
                    上一篇：
                    {% if article.next_article_in_category %}
                        <a href="{{ SITEURL }}/{{ article.next_article_in_category.url }}">{{ article.next_article_in_category.title }}</a>
                    {% else %}
                        没有了
                    {% endif %}
                </div>
                <span class="hint-text">[ 文章结束 ]</span>
                <div class="neighbor-article">
                    下一篇：
                    {% if article.prev_article_in_category %}
                        <a href="{{ SITEURL }}/{{ article.prev_article_in_category.url }}">{{ article.prev_article_in_category.title }}</a>
                    {% else %}
                        没有了
                    {% endif %}
                </div>
            </div>
        </article>
        <aside>
            <div id="article-catelog" class="panel">
                <h4>目录</h4>
                {% if article.headings %}
                    <ul>
                        {% for level, tag in article.headings %}
                            <li class="heading-level-{{ level }} {% if loop.first %}current-heading{% endif %}">
                                {{ tag }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </aside>
    </div>
    <a href="#anchor-header" id="back-to-top" title="回到顶部">
        <span>🚀</span>
    </a>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/article.js"></script>
{% endblock %}