<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1964191_hmnhoc1dvvn.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/base.css">
    {% block head %}{% endblock %}
</head>
<body>
    <header id="anchor-header">
        <div class="site-name">
            <a href="/">Liangcai GUO</a>
        </div>
        <nav >
            <ul>
                <li {% if page_name == 'index' %} class="active-category"{% endif %}>
                    <a  href="{{ SITEURL }}/">全部</a>
                </li>
                {% for cat, null in categories %}
                    <li{% if cat == category %} class="active-category"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <input class="post-search-input" type="text" placeholder="输入文章标题或内容">
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <div id="footer-wrapper" class="page-center-content">
            <div id="footer-site-links">
                <a href="">关于我</a> · 
                <a href="">联系方式</a> · 
                <a href="">意见建议</a>
                <!-- <a href="">商务合作</a>
                <span class="friend-links">友链：</span>
                <a href="">阮一峰的网站</a> · 
                <a href="">张鑫旭</a> · 
                <a href="">前端之巅</a> -->
            </div>
            <div id="site-other-info">
                <i class="iconfont github"></i> Proudly powered by <a target="_blank" href="https://github.com/getpelican/pelican">Pelican</a>, theme by <a target="_blank" href="https://github.com/jackieveev/pelican-blog"><strong>Blue</strong></a>
            </div>
            <div id="site-record">
                Copyright©2018-2020 Guo Liangcai 
                [粤ICP备11018329号]
            </div>
        </div>
    </footer>
</body>
</html>