{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/index.css">
{% endblock %}
{% block main %}
    <div id="article-page-wrapper" class="page-center-content">
        <div id="article-list">
            {% if articles %}
                {% for article in articles_page.object_list %}
                    {% set first = loop.first and not articles_page.has_previous() %}
                    <section {% if first %} class="first-article" {% endif %}>
                        <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                        <div class="article-summary">
                            <a href="{{ SITEURL }}/{{ article.url }}">{{ article._summary[:160] }}…</a>
                        </div>
                        <div class="article-cate-tags mt-15">
                            分类：
                            <a href="{{ SITEURL }}/{{ article.category.url }}" class="tag-item category-link">{{ article.category }}</a>
                            {% if article.tags %}
                                标签：
                                {% for tag in article.tags %}
                                    <a href="{{ SITEURL }}/{{ tag.url }}" class="tag-item">{{ tag }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="article-info mt-15">
                            <span class="public-time hint-text">发布于{{ article.human_read_date }}</span>
                            <span class="hint-text">
                                98,238次阅读
                            </span>
                            <!-- <a id="article-vote">
                                <i class="iconfont up"></i>
                                238个赞
                            </a> -->
                        </div>
                    </section>
                {% endfor %}
                {% if articles_page.has_other_pages() %}
                    <div id="article-paginator">
                        共{{ articles_paginator.num_pages }}页
                        {% if articles_page.has_previous() %}
                            <a class="article-paginator-jumper" href="{{ SITEURL }}/{{ articles_previous_page.url }}">上一页</a>
                        {% endif %}
                        <input id="paginator-input" class="mini ml-10" type="text" value="{{ articles_page.number }}">
                        {% if articles_page.has_next() %}
                            <a class="article-paginator-jumper" href="{{ SITEURL }}/{{ articles_next_page.url }}">下一页</a>
                        {% endif %}
                        <a class="article-paginator-jumper ml-10" href="#anchor-header">回到顶部 <i class="iconfont up"></i></a>
                    </div>
                    <script>
                        document.querySelector('#paginator-input').addEventListener('keypress', function (ev) {
                            if (ev.keyCode === 13) {
                                var page = parseInt(this.value)
                                if (page && page > 0) {
                                    page = page === 1 ? '' : page
                                    window.location.href = '{{ SITEURL }}/{{ page_name }}' + page + '.html'
                                }
                            }
                        })
                    </script>
                {% endif %}
            {% endif %}
        </div>
        <div id="article-side">
            <section class="article-tags">
                <h4>所有标签</h4>
                <div class="article-tag-list">
                    {% if tags %}
                        {% for tag, _ in tags %}
                            <a class="tag" href="{{ tag.url }}">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </section>
            <section class="top-articles">
                <h4>热门文章</h4>
                <div class="top-article-list">
                    无
                </div>
            </section>
        </div>
    </div>
{% endblock %}